.list {
  margin-left: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.button {
  width: 100px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid grey;
}

.button:hover,
.button:focus {
  background-color: rgb(71, 70, 70);
  color: white;
}
